/* Estilos generales */
body{
    background-color: rgb(107, 107, 188);
}
.navbar{
margin-bottom: 16px;
}

footer{
    padding-bottom: 16px;

}
footer .social-links a img{
    color: white;
    width: 40px;
    height: 40px;

}



/* Estilos Pagina principal */

.main-container{
    /* min-height: 73vh ; */
    min-height: calc(100vh - 190px);
}
.title-container{
    
    margin-bottom: 16px;
    color: white;
}
.card{
    background-color: lightgray; 
}

img{
    padding-top: 16px;
    width: 100%;
    height: 100%;
}


.text-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* Estilos Administracion */
.container-adm{
    min-height: calc(100vh - 190px);
}